:root{
    --width: min(100% - 30px, 86rem);

    --dark-color: #212529;
    --lite-color: #ffffff;
    --hover-accent: #DDD7C0;
    --red-color: #E13A3A;
    --orange-color: #F9C67B;

    --h1-font: 72px;
    --h2-font: 48px;
    --h3-font: 36px;

    --h1-fontmob: 32px;
    --h2-fontmob: 28px;
    --h3-fontmob: 24px;

    --margin-bottom: 120px;

    --paddin-top: 40px;
    --padding-top-main: 120px;

    --row-gap: 44px;
}